.experience-card-container {
  display: flex;
  align-items: center;
}

.experience-container .experience-card-container:not(:last-child) {
  margin-bottom: 32px;
}

.experience-header-info div:not(:last-child) {
  margin-bottom: 10px;
}

.job-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 24pt;
}

.company {
  font-family: "Lato", sans-serif;
  font-size: 18pt;
}

.location-and-dates {
  font-family: "Open Sans", sans-serif;
  color: #6b6b6b;
}

.logo-container {
  width: 10vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo {
  max-height: 100%;
  max-width: 100%;
}

.experience-header-info {
  margin-left: 48px;
}

.experience-card-hightlights-header {
  font-family: "Lato", sans-serif;
  font-size: 20pt;
  margin-bottom: 16px;
}

.experience-card-highlight {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin-bottom: 12px;
  border-left: hsl(240, 100%, 90%) solid 4px;
  padding-left: 8px;
}

@media only screen and (max-width: 750px) {
  .logo-container {
    display: none;
  }

  .experience-header-info {
    margin: 0;
  }

  .job-title {
    font-size: 14pt;
  }

  .company {
    font-family: "Lato", sans-serif;
    font-size: 12pt;
  }

  .location-and-dates {
    font-size: 8pt;
  }
}
