.navbar-container {
  display: flex;
  height: 10vh;
  width: 100%;
  font-family: "Lato", sans-serif;
  position: fixed;
  z-index: 3;
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.leading-navbar-items {
  flex: 1;
}

.trailing-navbar-items {
  display: flex;
}

.leading-navbar-items,
.trailing-navbar-items {
  align-items: center;
}

.trailing-navbar-items {
  margin-right: 5px;
}

.navbar-item {
  padding: 10px;
  margin: 10px;
  font-size: 20pt;
  font-weight: 500;
  cursor: pointer;
}

.top-of-page,
.not-top-of-page {
  transition: color 0.2s ease-in-out;
}

.top-of-page:hover {
  color: #d1d1d1;
}

.not-top-of-page:hover {
  color: hsl(240, 80%, 75%);
}

@media only screen and (max-width: 900px) {
  .navbar-item {
    font-size: 16pt;
  }
}

@media only screen and (max-width: 700px) {
  .navbar-container {
    display: none;
  }
}
