.projects-container {
  background-color: hsl(240, 100%, 98%);
  padding: 10vh 20vw;
}

.load-more-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 750px) {
  .projects-container {
    padding: 10vh 10vw;
  }
}
