.project-preview-container {
  display: flex;
  align-items: center;
}

.projects-content-container .project-preview-container:not(:last-child) {
  margin-bottom: 36px;
}

.project-preview-header {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 24pt;
  margin-bottom: 4px;
}

.project-preview-date {
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;
}

.project-preview-technologies-container {
  margin-bottom: 36px;
  display: flex;
}

.project-preview-image-container {
  flex: 4;
}

.project-preview-content {
  flex: 6;
}

.project-preview-image {
  max-width: 100%;
}

.project-preview-description {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin-bottom: 16px;
}

@media only screen and (max-width: 750px) {
  .project-preview-image {
    display: none;
  }

  .project-preview-content {
    padding: 0 !important;
  }
}
